.title {
  font-size: 80px;
  font-weight: 900;
}
:root {
  --azul: #6c8a8d;
  --laranja: #fd7014;
  --margen: 70%;
}
.cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fAzul {
  background-color: var(--azul);
}
.case {
  width: var(--margen);
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}
.txtBranco {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
.subTitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--laranja);
}
.fundadores div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sobreNos {
  flex-direction: column;
  text-align: center;
}
.equipamentos {
  text-align: center;
}
.infraestrutura {
  flex-direction: column;
}
.infraestrutura p {
  font-weight: 500;
}
.seguranca {
  flex-wrap: wrap;
}
.seguranca li,
.txt_seguranca {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.txt_seguranca {
  font-weight: 900;
}
.protocolos,
.iot {
  flex-wrap: wrap;
}
.lista_protocolos {
  font-size: 20px;
  font-weight: 600;
}
.lista_protocolos li {
  margin: 15px 0;
}
.pIot {
  width: 25%;
  max-width: 200px;
  height: 200px;
  background-color: black;
}
.custo {
  flex-direction: column;
  align-items: center;
}
.img_nossosFundadores{
  width: 40%;
}